Write a python program to convert list to series.

In [3]:
import pandas as pd
list=[12,15,16,17,18]
series=pd.Series(list)
print("LIST  : ",list)
print("SERIES : ")
series

LIST  :  [12, 15, 16, 17, 18]
SERIES :

0    12
1    15
2    16
3    17
4    18
dtype: int64

In [4]:
str='2024-05-01'
end='2024-05-30'
dates=pd.date_range(str,end)
print("Dates :")
dates

Dates :

DatetimeIndex(['2024-05-01', '2024-05-02', '2024-05-03', '2024-05-04',
               '2024-05-05', '2024-05-06', '2024-05-07', '2024-05-08',
               '2024-05-09', '2024-05-10', '2024-05-11', '2024-05-12',
               '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16',
               '2024-05-17', '2024-05-18', '2024-05-19', '2024-05-20',
               '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24',
               '2024-05-25', '2024-05-26', '2024-05-27', '2024-05-28',
               '2024-05-29', '2024-05-30'],
              dtype='datetime64[ns]', freq='D')

In [5]:
dictt={
    'Name':['Dhoni','Virat','Rohit','Sanju'],
    'No':[7,18,45,11],
    'Teams':['CSK','RCB','MI','RR']
}

dtf=pd.DataFrame(dictt)
dtf

    Name  No Teams
0  Dhoni   7   CSK
1  Virat  18   RCB
2  Rohit  45    MI
3  Sanju  11    RR

In [7]:
list2d=[['Dhoni',7,'CSK'],['Virat',18,'RCB'],['Rohit',45,'MI'],['Sanju',11,'RR']]
listtitle=['Name :','No :', 'Team :']
dtff=pd.DataFrame(list2d,columns=listtitle)
dtff

  Name :  No : Team :
0  Dhoni     7    CSK
1  Virat    18    RCB
2  Rohit    45     MI
3  Sanju    11     RR